.layout-default {
  .layout-default-sidebar {
    padding: 0;
    flex: 0 0 200px;

    @media (max-width: 768px) {
      flex: 0 0 56px;
    }
  }

  .layout-default-content {
    padding: 24px;
    height: 100%;
    overflow-y: auto;
  }
}